html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

.no-margins {
    margin: 0;
}

#root {
    height: 100%;
}

body {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}